.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#body-container {
  height: 743px;
  overflow: auto;
  position: relative;
}
.load-more-container {
  position: absolute;
  top: 0;
  left: 70px;
}
.body {
  min-height: 740px;
  transform: rotate(180deg);
  padding: 0 10px;
}
.messages-container {
  transform: rotate(180deg);
}
.messenger-block {
  border: 1px solid black;
  width: 350px;
  height: 800px;
}
.top-bar {
  height: 10px;
  background-color: blueviolet;
}
.bottom-bar {
  height: 50px;
  background-color: blueviolet;
}
.input-message {
  width: 220px;
  height: 25px;
  border-radius: 18px;
  border: 0;
  margin-top: 10px;
  padding: 3px 7px;
}
input:focus {
  outline: none;
}
.message-sender {
  text-align: start;
  padding-bottom: 5px;
}
.send-button {
  border: 0;
  border-radius: 15px;
  background-color: white;
  padding: 5px 15px;
}
.message-item {
  box-sizing: border-box;
  text-align: start;
  padding: 10px;
  width: 70%;
  min-height: 40px;
  background-color: rgb(209, 209, 209);
  border-radius: 10px;
}
.message-content {
  display: flex;
  justify-content: flex-start;
}
.user-sent {
  justify-content: flex-end;
  background-color: rgb(159, 87, 227);
}
.message-time {
  position: absolute;
  top: 0;
}
.message-block {
  position: relative;
}